
<%- include("./partials/navbar.ejs") %> 
    <section class="desinger">
        <h2 class="desinger__title">Дизайн и Брендинг</h2>
        <div class="desinger__container padding__all">
            <div class="desinger__row">
                <div class="col-lg-6">
                    <div class="desinger__box">
                        <h3 class="desinger__box-title">Разработка брендбука</h3>
                        <div class="desinger__box-text">
                            <p class="desinger__box-text-par">Мы не просто делаем брендбук мы его оживляем и делаем ваш проект продаюшим! Брендинг — это процесс формирования представлений, ассоциаций, эмоций и ценностных ориентиров в сознании потребителя. Цель брендинга — повысить ценность продукта (услуги, компании, территории, человека) в сознании целевой аудитории.</p>
                            <a href="#" class="desinger__box-text-btn">Оставить заявку</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="desinger__images">
                        <img class="desinger__img" src="./img/designer/img1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="desinger__row">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="desinger__images">
                        <img class="desinger__img" src="./img/designer/img2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="desinger__box">
                        <h3 class="desinger__box-title">Разработка Логотипа</h3>
                        <div class="desinger__box-text">
                            <p class="desinger__box-text-par">Логотип представляет ваш бизнес везде, где он отображается - на бланке, рекламном щите или на любом другом носителе. Логотип является одним из основных элементов брендинга. Крупные компании серьезно относятся к созданию стратегии бренда и стремятся создать сильный бренд.</p>
                            <a href="#" class="desinger__box-text-btn">Оставить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desinger__row">
                <div class="col-lg-6">
                    <div class="desinger__box">
                        <h3 class="desinger__box-title">Дизайн сайта</h3>
                        <div class="desinger__box-text">
                            <p class="desinger__box-text-par">Делаем более современный и свежий дизайн вашего сайта.Разрабатываем общую визуальную концепцию, в результате которой определяем стиль будущего продукта.</p>
                            <a href="#" class="desinger__box-text-btn">Оставить заявку</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="desinger__images">
                        <img class="desinger__img" src="./img/designer/img3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="WebSayt__btnPortfolio">
            <a href="#"  class="WebSayt__btnPortfolio-btn">Посмотреть портфолио</a>
        </div>

    </section>
    <%- include("./partials/footer.ejs") %> 