    <%- include("./partials/header.ejs") %> 
    <!-- ======== ABOUT _ START ========= -->
    <section class="about" id="about">
        <h2 class="about__title padding__all">Что мы умеем делать</h2> 
        <div class="about__block padding__all d-flex">
            <div class="col-xl-6 col-md-9 about__box">
               <div class="col-lg-12 about__row">
                <div class="col-lg-8 d-flex">
                    <div class="about__item-icon">
                        <i class="fas fa-check-square"></i>
                    </div>
                    <div class="about__item-block">
                        <h3 class="about__item-title">Разработка сайтов под ключ</h3>
                        <p  class="about__item-text">Любой, знающий свое дело специалист, сможет создать для вас сайт. Однако разработка сайта, который принесет клиентов и, вместе с ними, доход - совсем другое дело. Ваш бизнес достоин именно такого сайта!</p>
                        <button  class="about__item-btn" class="">Подробнее</button>
                    </div>
                </div>
                <div class="col-lg-6">
                     <div class="about__img">
                         <img class="about__images" src="img/about_img_11.png" alt="png">
                     </div>   
                </div>
               </div>
               <div class="col-lg-12 about__row">
                <div class="col-lg-8 about__item d-flex">
                    <div class="about__item-icon">
                        <i class="fas fa-check-square"></i>
                    </div>
                    <div class="about__item-block">
                        <h3 class="about__item-title">Разработка брендбук</h3>
                        <p  class="about__item-text">Брендбуком в дизайнерской среде принято называть руководство по использованию фирменного стиля. У известных брендов айдентика, как правило, более сложная и применяется для оформления сувениров, документации и рекламы. А брендбук напоминает уже не буклет, а настоящую книгу (англ. brandbook — книга бренда).</p>
                        <button  class="about__item-btn" class="">Подробнее</button>
                    </div>
                </div>
                <div class="col-lg-6">
                     <div class="about__img">
                         <img class="about__images" src="img/about_img_2.png" alt="png">
                     </div>   
                </div>
               </div>
               <div class="col-lg-12 about__row">
                <div class="col-lg-8 about__item d-flex">
                    <div class="about__item-icon">
                        <i class="fas fa-check-square"></i>
                    </div>
                    <div class="about__item-block">
                        <h3 class="about__item-title">Разработка Логотипов</h3>
                        <p  class="about__item-text">Логотип, товарный знак отличает вашу компанию и ваш товар от конкурентов. За каждым товарным знаком у потребителя закрепляется представление об определенном уровне качества продукции. Без логотипа вашей компании трудно сформировать позитивный имидж в глазах потребителей и распространить его на другие товары</p>
                        <button  class="about__item-btn" class="">Подробнее</button>
                    </div>
                </div>
                <div class="col-lg-6">
                     <div class="about__img">
                         <img class="about__images" src="img/about_img_3.png" alt="png">
                     </div>   
                </div>
               </div>
               <div class="col-lg-12 about__row">
                <div class="col-lg-8 about__item d-flex">
                    <div class="about__item-icon">
                        <i class="fas fa-check-square"></i>
                    </div>
                    <div class="about__item-block">
                        <h3 class="about__item-title">Продвижение вашего бренда</h3>
                        <p  class="about__item-text">Основная задача, которая стоит перед контекстной рекламой для продвижения бренда — это сформировать позитивные ассоциации с компанией, повысить узнаваемость, закрепить доверие и авторитет, которые остануться у пользователей в подсознании.</p>
                        <button  class="about__item-btn" class="">Подробнее</button>
                    </div>
                </div>
                <div class="col-lg-6">
                     <div class="about__img">
                         <img class="about__images" src="img/about_img_4.png" alt="png">
                     </div>   
                </div>
               </div>
            </div>
            <div class="col-xl-6 col-md-3 about__right">
                <div class="about__right-relative">
                    <div class="about__right-buttons">
                        <button id="about__right-btnOn" class="about__right-btnOn">
                            <i class="fas fa-toggle-on"></i>
                            <i class="fas fa-arrow-left"></i>
                        </button>
                        <button id="about__right-btnOff" class="about__right-btnOff">
                            <i class="fas fa-toggle-off"></i>
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </div>
                    <img  data-speed="10" id="about__right-images" class="d-none d-xl-block about__right-images1" src="img/about/about_Images-1.png" alt="png">
                    <img  data-speed="20" id="about__right-images" class="d-none d-xl-block about__right-images2" src="img/about/about_Images-2.png" alt="png">
                </div>
            </div>
        </div>     
    </section>

    <!-- ======== IndexPortfolio _ START ========= -->
    <section class="IndexPortfolio" id="IndexPortfolio">
        <div class="IndexPortfolio__top padding__all">
            <h2 class="IndexPortfolio__title">Портфолио</h2>
            <div class="IndexPortfolio__right-buttons">
                <button id="IndexPortfolio__right-btnOn" class="IndexPortfolio__right-btnOn">
                    <i class="fas fa-toggle-on"></i>
                    <i class="fas fa-arrow-left"></i>
                </button>
                <button id="IndexPortfolio__right-btnOff" class="IndexPortfolio__right-btnOff">
                    <i class="fas fa-toggle-off"></i>
                    <i class="fas fa-arrow-left"></i>
                </button>
            </div>
        </div>
        <div class="IndexPortfolio__block padding__all">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="IndexPortfolio__box">
                    <div class="IndexPortfolio__img">
                        <button class="IndexPortfolio__img-positionBtn">Подробнее</button>
                        <img class="IndexPortfolio__images" src="img/IndexPortfolio/indexPortfolio_Img-1.png" alt="png">
                    </div>
                    <div class="IndexPortfolio__item">
                        <h3 class="IndexPortfolio__item-title">Lorem</h3>
                        <p class="IndexPortfolio__item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>  
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="IndexPortfolio__box">
                    <div class="IndexPortfolio__img">
                        <button class="IndexPortfolio__img-positionBtn">Подробнее</button>
                        <img class="IndexPortfolio__images" src="img/IndexPortfolio/indexPortfolio_Img-1.png" alt="png">
                    </div>
                    <div class="IndexPortfolio__item">
                        <h3 class="IndexPortfolio__item-title">Lorem</h3>
                        <p class="IndexPortfolio__item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>  
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="IndexPortfolio__box">
                    <div class="IndexPortfolio__img">
                        <button class="IndexPortfolio__img-positionBtn">Подробнее</button>
                        <img class="IndexPortfolio__images" src="img/IndexPortfolio/indexPortfolio_Img-1.png" alt="png">
                    </div>
                    <div class="IndexPortfolio__item">
                        <h3 class="IndexPortfolio__item-title">Lorem</h3>
                        <p class="IndexPortfolio__item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>  
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="IndexPortfolio__box">
                    <div class="IndexPortfolio__img">
                        <button class="IndexPortfolio__img-positionBtn">Подробнее</button>
                        <img class="IndexPortfolio__images" src="img/IndexPortfolio/indexPortfolio_Img-1.png" alt="png">
                    </div>
                    <div class="IndexPortfolio__item">
                        <h3 class="IndexPortfolio__item-title">Lorem</h3>
                        <p class="IndexPortfolio__item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>  
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="IndexPortfolio__box">
                    <div class="IndexPortfolio__img">
                        <button class="IndexPortfolio__img-positionBtn">Подробнее</button>
                        <img class="IndexPortfolio__images" src="img/IndexPortfolio/indexPortfolio_Img-1.png" alt="png">
                    </div>
                    <div class="IndexPortfolio__item">
                        <h3 class="IndexPortfolio__item-title">Lorem</h3>
                        <p class="IndexPortfolio__item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>  
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="IndexPortfolio__box">
                    <div class="IndexPortfolio__img">
                        <button class="IndexPortfolio__img-positionBtn">Подробнее</button>
                        <img class="IndexPortfolio__images" src="img/IndexPortfolio/indexPortfolio_Img-1.png" alt="png">
                    </div>
                    <div class="IndexPortfolio__item">
                        <h3 class="IndexPortfolio__item-title">Lorem</h3>
                        <p class="IndexPortfolio__item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>  
           
            <div class="col-lg-12 d-flex justify-content-center">
                <button class="IndexPortfolio__button">Посмотреть ешё</button>
            </div>
        </div>
    </section>

     <!-- ======== aboutUs _ START ========= -->
    <section class="aboutUs" id="aboutUs">
         <h2 class="aboutUs__title padding__all">Почему мы ? </h2>   
         <div class="aboutUs__block padding__all">
             <div class="col-lg-5 col-md-12">
                 <div class="aboutUs__box">
                     <div class="aboutUs__box-icons">
                        <i class="aboutUs__box-icons-fas fas fa-business-time"></i>
                     </div>
                     <div class="aboutUs__box-item">
                         <h3 class="aboutUs__box-title">Всегда в срок</h3>
                         <p class="aboutUs__box-text">Всегда предоставляем клиенту реальную оценку сроков и строго следим за ее выполнением</p>
                     </div>
                 </div>
                 <div class="aboutUs__box">
                     <div class="aboutUs__box-icons">
                        <i class="aboutUs__box-icons-fas fas fa-user-cog"></i>
                     </div>
                     <div class="aboutUs__box-item">
                         <h3 class="aboutUs__box-title">Поддержка клиентов</h3>
                         <p class="aboutUs__box-text">Оказываем гарантированную поддержку проектов наших клиентов бесплатно в течение месяца</p>
                     </div>
                 </div>
                 <div class="aboutUs__box">
                     <div class="aboutUs__box-icons">
                        <i class="aboutUs__box-icons-fas fas fa-skiing"></i>
                     </div>
                     <div class="aboutUs__box-item">
                         <h3 class="aboutUs__box-title">Индивидуальный подход</h3>
                         <p class="aboutUs__box-text">Уделяем каждому проекту усиленное внимание, чтобы выпустить максимально уникальный продукт</p>
                     </div>
                 </div>
             </div>
             <div class="col-lg-6 d-none d-lg-block">
                 <div class="aboutUs__images">
                     <img data-speed="20" id="aboutUs__images-img-1" class="aboutUs__images-img aboutUs__images-img-1" src="img/About_Us/about_us-2.png" alt="png">
                     <img data-speed="10" id="aboutUs__images-img-1" class="aboutUs__images-img aboutUs__images-img-2" src="img/About_Us/about_us-1.png" alt="png">
                     <img data-speed="20" id="aboutUs__images-img-1" class="aboutUs__images-img aboutUs__images-img-3" src="img/About_Us/about_us-3.png" alt="png">
                 </div>
             </div>
         </div>
    </section>

     <!-- ======== question _ START ========= -->
    <section class="question" id="question">
        <h2 class="padding__all question__title">Часто задаваемые вапросы</h2>
        <div class="padding__all question__row">
            <div class="col-lg-4 d-none d-lg-block">
                <div class="question__images">
                    <img class="question__images-img" src="img/Questions/Questions__img.png" alt="png">
                </div>
            </div>
            <div class="col-lg-8 question__block">
                <div class="question__block-left">
                    <div class="question__box">
                        <div class="question__box-label">
                            Сколько время уйдет на создание сайта?
                        </div>
                        <div class="question__box-content">
                            Лендинг сделаем за месяц.
                            Сроки на многостраничный сайт зависят от количества необходимого контента. Обычно 3 месяцев достаточно.
                        </div>
                    </div>
                    <div class="question__box">
                        <div class="question__box-label">
                            Из-за чего могут затягиваться сроки разработки сайта?
                        </div>
                        <div class="question__box-content">
                            Самая частая причина — долгие согласования с клиентом. Мы рекомендуем для работы с нами выделять ответственного сотрудника, у которого будет возможность отвечать на наши запросы.
                        </div>
                    </div>
                    <div class="question__box">
                        <div class="question__box-label">
                            С какими CMS вы работаете?
                        </div>
                        <div class="question__box-content">
                            Крупные сайты на Wordpress. Либо мы сами создаем CMS систему для удобства клиента!
                        </div>
                    </div>
                </div>
                <div class="question__block-right">
                    <div class="question__box">
                        <div class="question__box-label">
                            Сколько будет стоит сайт?
                        </div>
                        <div class="question__box-content">
                            Опять же это зависит от сайта! У нас есть тарифы можите посмотреть либо можите позвонить на наши контакты менежера вам ответять и дадут нужную информацию!
                        </div>
                    </div>
                    <div class="question__box">
                        <div class="question__box-label">
                            Сможите сделать программы для телефона android или ios ? 
                        </div>
                        <div class="question__box-content">
                            Канечно без проблем! Позвоните любое время мы дадим нужную информацию! 
                        </div>
                    </div>
                    <div class="question__box">
                        <div class="question__box-label">
                            Какого уровня сложности сайта вы сможите сделать?
                        </div>
                        <div class="question__box-content">
                            Любого уровня сложности сайта сделаем без проблем! Качественно самое главное и с гарантей! 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======== contact _ START ========= -->
    <section class="contact" id="contact">
        <h2 class="contact__title padding__all">Контакты</h2>
        <div class="contact__top padding__all">
            <div class="col-lg-10 col-xl-5">
               <div class="contact__box">
                   <div class="contact__box-icon">
                        <i class="fas fa-phone-square"></i>
                        <span class="contact__box-adress">Телефон</span>
                   </div>
                   <div class="contact__box-number">
                        <span class="contact__box-adress">998 90 315-21-55</span> 
                   </div>
               </div> 
               <div class="contact__box">
                   <div class="contact__box-icon">
                        <i class="fas fa-phone-square"></i>
                        <span class="contact__box-adress">Телефон ДП</span>
                   </div>
                   <div class="contact__box-number">
                        <span class="contact__box-adress">998 99 111-12-17</span>
                   </div>
               </div> 
               <div class="contact__box">
                   <div class="contact__box-icon">
                        <i class="fas fa-map-marker"></i>
                        <span class="contact__box-adress">Адресс</span>
                   </div>
                   <div class="contact__box-number">
                        <span class="contact__box-adress">Kichik Xalqa Yo'li, Тошкент 100097</span>
                   </div>
               </div> 
            </div>
            <div class="col-lg-7 d-none d-xl-block">
                <div class="contact__images">
                    <img  class="contact__images-img" src="img/Contact/contact-1.png" alt="png">
                </div>
            </div>
        </div>
        <div class="contact__bottom padding__all">
            <div class="col-lg-7 d-none d-xl-block">
                <div class="contact__bottom-imgages">
                    <img  class="contact__bottom-img" src="img/Contact/contact-2.png" alt="png">
                </div>
            </div>
            <div class="col-lg-10 col-xl-5">
                <h2 class="contact__bottom-title">Мы в Соцсетях</h2>
                <div class="contact__box">
                    <div class="contact__box-icon">
                        <i class="fab fa-instagram"></i>
                        <span class="contact__box-adress">Instagram </span>
                    </div>
                    <div class="contact__box-number">
                        <span class="contact__box-adress">@procodeuz</span> 
                    </div>
                </div> 
                <div class="contact__box">
                    <div class="contact__box-icon">
                        <i class="fab fa-telegram"></i>
                         <span class="contact__box-adress">Telegram</span>
                    </div>
                    <div class="contact__box-number">
                         <span class="contact__box-adress">@procodeuz</span>
                    </div>
                </div> 
                <div class="contact__box">
                    <div class="contact__box-icon">
                        <i class="fab fa-facebook-square"></i>
                         <span class="contact__box-adress">Facebook</span>
                    </div>
                    <div class="contact__box-number">
                         <span class="contact__box-adress">@procodeuz</span>
                    </div>
                </div> 
            </div>
        </div>
    </section>  

    <%- include("./partials/footer.ejs") %> 
