
    <%- include("./partials/navbar.ejs") %> 
    <section class="WebSayt">
        <h2 class="WebSayt__title">Создание сайтов</h2>
        <div class="WebSayt__container padding__all">
            <div class="WebSayt__row">
                <div class="col-lg-5  d-none d-lg-block">
                    <div class="WebSayt__images">
                        <img class="WebSayt__img" src="./img/Websayt/Images_1.png" alt="png">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="WebSayt__box-right">
                        <div class="WebSayt__box-right-images">
                            <img class="WebSayt__box-img" src="./img/Websayt/box-1.png" alt="png">
                        </div>
                        <div class="WebSayt__box-right-block">
                            <div class="WebSayt__box-right-top">
                                <h3 class="WebSayt__box-right-title">Cайт  под ключ</h3>
                                <p  class="WebSayt__box-right-text">От начала сайта начиная с дизайна до завершение и вставления на хостинг! </p>
                            </div>
                            <button class="WebSayt__box-right-btn">Оставить заявку</button>
                        </div>
                    </div>
                    <div class="WebSayt__box-left">
                        <div class="WebSayt__box-left-block">
                            <div class="WebSayt__box-left-top">
                                <h3 class="WebSayt__box-left-title">Корпоративные сайты</h3>
                                <p  class="WebSayt__box-left-text">Полноценное представительство компании в интернете и маркетинговый инструмент для привлечения новых клиентов.</p>
                            </div>
                            <button class="WebSayt__box-left-btn">Оставить заявку</button>
                        </div>
                        <div class="WebSayt__box-images">
                            <img class="WebSayt__box-img" src="./img/Websayt/box-2.png" alt="png">
                        </div>
                    </div>
                    <div class="WebSayt__box-right">
                        <div class="WebSayt__box-right-images">
                            <img class="WebSayt__box-img" src="./img/Websayt/box-3.png" alt="png">
                        </div>
                        <div class="WebSayt__box-right-block">
                            <div class="WebSayt__box-right-top">
                                <h3 class="WebSayt__box-right-title">Интернет магазин</h3>
                                <p  class="WebSayt__box-right-text">Онлайн-магазин с карточками товаров или услуг. Управление ценами, скидками прямо на сайте, онлайн-оплата с возможностью интеграции более 10 платежных систем или эквайринга.</p>
                            </div>
                            <button class="WebSayt__box-right-btn">Оставить заявку</button>
                        </div>
                    </div>
                    <div class="WebSayt__box-left">
                        <div class="WebSayt__box-left-block">
                            <div class="WebSayt__box-left-top">
                                <h3 class="WebSayt__box-left-title">Сайт-визитка</h3>
                                <p  class="WebSayt__box-left-text">Главная информация об организации и услугах с минимальными вложениями. Позволяет быстро предоставить описание компании, контактную информацию, услуги. Небольшой веб ресурс, как правило до 5 страниц</p>
                            </div>
                            <button class="WebSayt__box-left-btn">Оставить заявку</button>
                        </div>
                        <div class="WebSayt__box-images">
                            <img class="WebSayt__box-img" src="./img/Websayt/box-4.png" alt="png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="WebSayt__btnPortfolio">
                <a href="#"  class="WebSayt__btnPortfolio-btn">Посмотреть портфолио</a>
            </div>
        </div>
    </section>
    <%- include("./partials/footer.ejs") %> 