
<%- include("./partials/navbar.ejs") %> 
<!-- ========== aboutUS__block ============  -->
<section class="aboutUS__block">
  <h2 class="aboutUS__block-title">О нас</h2>
  <div class="aboutUS__block-row padding__all">
    <div class="col-lg-6">
      <div class="aboutUS__block-item">
        <p class="aboutUS__block-text">
          <span class="aboutUS__block-text-span">{ PROCODE }</span> - Мы не
          просто веб студия! Мы одно каманда который делает историю! Мы
          тчательно изучаем ваш проект и максимально вкладываемся в эту сферу!
          Делаем так чтоб наши клиенты были очень давольны! На каждую работу мы
          даём гарантию!
        </p>
        <a class="aboutUS__block-link" href="#"
          >Наши услуги можите посмотреть тут.
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="aboutUS__block-images">
        <img
          class="aboutUS__block-img"
          src="./img/About_Us/AboutUS-1.png"
          alt="png"
        />
      </div>
    </div>
  </div>
</section>

<!-- ========== aboutUS__trust ============  -->
<section class="aboutUS__trust">
  <h2 class="aboutUS__trust-title">Нам доверяют</h2>
  <div class="aboutUS__trust-row padding__all">
    <div class="col-lg-3 col-6 col-sm-4 p-1">
      <div class="aboutUS__trust-box">
        <img
          class="aboutUS__trust-img"
          src="./img/About_Us/AboutUS-2.png"
          alt=""
        />
      </div>
    </div>
    <div class="col-lg-3 col-6 col-sm-4 p-1">
      <div class="aboutUS__trust-box">
        <img
          class="aboutUS__trust-img"
          src="./img/About_Us/AboutUS-2.png"
          alt=""
        />
      </div>
    </div>
    <div class="col-lg-3 col-6 col-sm-4 p-1">
      <div class="aboutUS__trust-box">
        <img
          class="aboutUS__trust-img"
          src="./img/About_Us/AboutUS-2.png"
          alt=""
        />
      </div>
    </div>
    <div class="col-lg-3 col-6 col-sm-4 p-1">
      <div class="aboutUS__trust-box">
        <img
          class="aboutUS__trust-img"
          src="./img/About_Us/AboutUS-2.png"
          alt=""
        />
      </div>
    </div>
    <div class="col-lg-3 col-6 col-sm-4 p-1">
      <div class="aboutUS__trust-box">
        <img
          class="aboutUS__trust-img"
          src="./img/About_Us/AboutUS-2.png"
          alt=""
        />
      </div>
    </div>
    <div class="col-lg-3 col-6 col-sm-4 p-1">
      <div class="aboutUS__trust-box">
        <img
          class="aboutUS__trust-img"
          src="./img/About_Us/AboutUS-2.png"
          alt=""
        />
      </div>
    </div>
    <div class="col-lg-3 col-6 col-sm-4 p-1">
      <div class="aboutUS__trust-box">
        <img
          class="aboutUS__trust-img"
          src="./img/About_Us/AboutUS-2.png"
          alt=""
        />
      </div>
    </div>
    <div class="col-lg-3 col-6 col-sm-4 p-1">
      <div class="aboutUS__trust-box">
        <img
          class="aboutUS__trust-img"
          src="./img/About_Us/AboutUS-2.png"
          alt=""
        />
      </div>
    </div>
    <div class="col-lg-3 col-6 col-sm-4 p-1">
      <div class="aboutUS__trust-box">
        <img
          class="aboutUS__trust-img"
          src="./img/About_Us/AboutUS-2.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<%- include("./partials/footer.ejs") %>
