<nav class="header__nav fixed">
  <div class="header__menu_top container-fluid padding__all">
    <a href="/" class="header__logo">
      <img class="header__logo__img" src="/img/Logo.png" alt="png" />
    </a>
    <button id="header__menu-gamburger" class="header__menu-gamburger">
      <i class="fas fa-bars"></i>
    </button>
    <div class="header__rigthMenu">
      <ul class="header__menu">

        <li class="header__menu_list">
            <a class="header__menu_link" href="/projectWeb">Разработка сайтов</a>
        </li>
        <li class="header__menu_list">
            <a class="header__menu_link" href="/deseginer">Дизайн и Брендинг</a>
          </li>
        </li>
        <li class="header__menu_list">
          <a class="header__menu_link" href="/aboutUs">О нас </a>
        </li>
        <li class="header__menu_list">
          <a class="header__menu_link" href="/portfolio">Портфолио</a>
        </li>
      </ul>
      <button class="header__menu_tel">998 90 315 21 55</button>
    </div>
  </div>
  <div id="header__nav-fixed" class="header__nav-fixed">
    <button id="header__nav-close" class="header__nav-close">
      <i class="fas fa-times"></i>
    </button>
    <ul class="header__fixed">
      <li class="header__fixed_list">
        <a class="header__fixed_link" href="#">Разработка сайтов</a>
      </li>
      <li class="header__fixed_list">
        <a class="header__fixed_link" href="#">Дизайн и Брендинг</a>
      </li>
      <li class="header__fixed_list">
        <a class="header__fixed_link" href="#">О нас </a>
      </li>
      <li class="header__fixed_list">
        <a class="header__fixed_link" href="#">Портфолио</a>
      </li>
      <li class="header__fixed_list">
        <a class="header__fixed_link" href="#">Контакты</a>
      </li>
    </ul>
  </div>
</nav>
