<footer class="main-footer">
    <strong>&copy; 2021-2022 </strong>
    Procodeuz
    Изгатовлен с любовью!
  </footer>
</div>
<!-- ./wrapper -->
    <%- include('include/script.ejs') %> 
</body>
</html>
